html {
    background-color: #000000;
    color: #FAFAFA;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000000;
}

canvas {
    border: 1px solid #FAFAFA;
    margin-top: 50px;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

/* Logan Kim Begins */


/* Logan Kim Ends */
/* Kei Mizubuchi Begins */


/* Kei Mizubuchi Ends */
/* Hang Li Begins */


/* Hang Li Ends */
/* Ygor Almeida Begins */


/* Ygor Almeida Ends */